In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [98]:
df=pd.read_csv("Updated_Company_dataset.csv")

In [99]:
df.head(10)

,CGPA,Internship Type,Programming Language,Technology,Company,Job Role
0,7.5,Cloud,Python,DevOps,Infosys,Cloud Engineer
1,9.8,Software Dev,C#,DBMS,Amazon,Software Developer
2,8.9,Cybersecurity,C++,AI,TCS,Cybersecurity Engineer
3,8.4,AIML,Java,AI,Oracle,Data Scientist
4,6.6,Cybersecurity,Rust,Front End,NIIT Technologies,Cloud Engineer
5,6.6,Software Dev,Java,Big Data,NIIT Technologies,Software Developer
6,6.2,Software Dev,Java,Backend,Mphasis,Software Developer
7,9.5,AIML,Java,AI,Apple,Data Scientist
8,8.4,DevOps,TypeScript,Backend,Infosys,System Engineer
9,8.8,Software Dev,Python,Data Analytics,SAP,System Engineer

In [100]:
df.tail(10)

,CGPA,Internship Type,Programming Language,Technology,Company,Job Role
4511,7.32,Cloud,Go,DBMS,HCL,Cybersecurity Engineer
4512,9.86,Software Dev,R,Data Analytics,Amazon,DevOps Engineer
4513,6.47,Cloud,C#,AI,Mphasis,AI Engineer
4514,6.36,Cloud,JavaScript,AI,Mphasis,Cybersecurity Engineer
4515,7.54,Cloud,SQL,Big Data,HCL,System Engineer
4516,8.66,Web Dev,JavaScript,Data Analytics,Microsoft,Data Analyst
4517,6.82,AIML,C++,DevOps,Wipro,System Engineer
4518,6.12,Software Dev,Java,Backend,Mindtree,Software Developer
4519,9.66,Cloud,Rust,Cloud Computing,Google,System Engineer
4520,6.19,Web Dev,Go,Cloud Computing,Mphasis,Cloud Engineer

In [101]:
df.columns

Index(['CGPA', 'Internship Type', 'Programming Language', 'Technology',
       'Company', 'Job Role'],
      dtype='object')

In [102]:
df.shape

(4521, 6)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CGPA                  4521 non-null   float64
 1   Internship Type       4520 non-null   object
 2   Programming Language  4520 non-null   object
 3   Technology            4520 non-null   object
 4   Company               4520 non-null   object
 5   Job Role              4520 non-null   object
dtypes: float64(1), object(5)
memory usage: 212.1+ KB

In [104]:
df.isnull().sum()

CGPA                    0
Internship Type         1
Programming Language    1
Technology              1
Company                 1
Job Role                1
dtype: int64

In [105]:
df.dropna(inplace=True)

In [106]:
df

,CGPA,Internship Type,Programming Language,Technology,Company,Job Role
0,7.50,Cloud,Python,DevOps,Infosys,Cloud Engineer
1,9.80,Software Dev,C#,DBMS,Amazon,Software Developer
2,8.90,Cybersecurity,C++,AI,TCS,Cybersecurity Engineer
3,8.40,AIML,Java,AI,Oracle,Data Scientist
4,6.60,Cybersecurity,Rust,Front End,NIIT Technologies,Cloud Engineer
...,...,...,...,...,...,...
4516,8.66,Web Dev,JavaScript,Data Analytics,Microsoft,Data Analyst
4517,6.82,AIML,C++,DevOps,Wipro,System Engineer
4518,6.12,Software Dev,Java,Backend,Mindtree,Software Developer
4519,9.66,Cloud,Rust,Cloud Computing,Google,System Engineer
4520,6.19,Web Dev,Go,Cloud Computing,Mphasis,Cloud Engineer

In [107]:
df.duplicated().sum()

212

In [108]:
df=df.drop_duplicates()
df.duplicated().sum()

0

In [109]:
df["Internship Type"].value_counts()
df["Programming Language"].value_counts()
df["Job Role"].value_counts()
df["Company"].value_counts()
# df["Technology"].value_counts()

Company
Infosys              322
IBM                  294
HCL                  271
TCS                  268
Birlasoft            244
Mindtree             242
Mphasis              242
NIIT Technologies    223
Capgemini            217
OpenAI               193
SAP                  191
Cognizant            190
Wipro                185
Apple                182
Amazon               181
Oracle               177
NVIDIA               176
Tech Mahindra        175
Google               169
Microsoft            166
Name: count, dtype: int64

In [110]:
df["Company"].unique()

array(['Infosys', 'Amazon', 'TCS', 'Oracle', 'NIIT Technologies',
       'Mphasis', 'Apple', 'SAP', 'Birlasoft', 'OpenAI', 'NVIDIA',
       'Mindtree', 'Capgemini', 'Wipro', 'Tech Mahindra', 'Cognizant',
       'Google', 'Microsoft', 'HCL', 'IBM'], dtype=object)

In [111]:
df.describe()

              CGPA
count  4308.000000
mean      8.010757
std       1.156983
min       6.000000
25%       7.000000
50%       8.000000
75%       9.000000
max      10.000000

In [112]:
df=pd.get_dummies(df,columns=["Internship Type","Programming Language","Technology"])#.astype(int)
df
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4308 entries, 0 to 4520
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CGPA                             4308 non-null   float64
 1   Company                          4308 non-null   object
 2   Job Role                         4308 non-null   object
 3   Internship Type_AIML             4308 non-null   bool
 4   Internship Type_Cloud            4308 non-null   bool
 5   Internship Type_Cybersecurity    4308 non-null   bool
 6   Internship Type_DevOps           4308 non-null   bool
 7   Internship Type_Software Dev     4308 non-null   bool
 8   Internship Type_Web Dev          4308 non-null   bool
 9   Programming Language_C#          4308 non-null   bool
 10  Programming Language_C++         4308 non-null   bool
 11  Programming Language_Go          4308 non-null   bool
 12  Programming Language_Java        4308 non-null   bool
 13  Programming Language_JavaScript  4308 non-null   bool
 14  Programming Language_Python      4308 non-null   bool
 15  Programming Language_R           4308 non-null   bool
 16  Programming Language_Rust        4308 non-null   bool
 17  Programming Language_SQL         4308 non-null   bool
 18  Programming Language_TypeScript  4308 non-null   bool
 19  Technology_AI                    4308 non-null   bool
 20  Technology_Backend               4308 non-null   bool
 21  Technology_Big Data              4308 non-null   bool
 22  Technology_Cloud Computing       4308 non-null   bool
 23  Technology_Cybersecurity         4308 non-null   bool
 24  Technology_DBMS                  4308 non-null   bool
 25  Technology_Data Analytics        4308 non-null   bool
 26  Technology_DevOps                4308 non-null   bool
 27  Technology_Front End             4308 non-null   bool
 28  Technology_ML                    4308 non-null   bool
dtypes: bool(26), float64(1), object(2)
memory usage: 244.0+ KB

In [113]:
df= df.astype({col: int for col in df.columns if df[col].dtype == 'bool'})

In [114]:
from sklearn.preprocessing import LabelEncoder

In [115]:
Job_label=LabelEncoder()
Company_label=LabelEncoder()
df["Job Role"]=Job_label.fit_transform(df["Job Role"])
df["Company"]=Company_label.fit_transform(df["Company"])
# df

In [116]:
for index, class_label in enumerate(Job_label.classes_):
    print(f"{index}: {class_label}")

0: AI Engineer
1: Cloud Engineer
2: Cybersecurity Engineer
3: Data Analyst
4: Data Scientist
5: DevOps Engineer
6: Software Developer
7: System Engineer
8: Web Developer

In [117]:
for index, class_label in enumerate(Company_label.classes_):
    print(f"{index}: {class_label}")

0: Amazon
1: Apple
2: Birlasoft
3: Capgemini
4: Cognizant
5: Google
6: HCL
7: IBM
8: Infosys
9: Microsoft
10: Mindtree
11: Mphasis
12: NIIT Technologies
13: NVIDIA
14: OpenAI
15: Oracle
16: SAP
17: TCS
18: Tech Mahindra
19: Wipro

In [118]:
x=df.drop(["Company"],axis=1)
y=df["Company"]

In [119]:
x.columns

Index(['CGPA', 'Job Role', 'Internship Type_AIML', 'Internship Type_Cloud',
       'Internship Type_Cybersecurity', 'Internship Type_DevOps',
       'Internship Type_Software Dev', 'Internship Type_Web Dev',
       'Programming Language_C#', 'Programming Language_C++',
       'Programming Language_Go', 'Programming Language_Java',
       'Programming Language_JavaScript', 'Programming Language_Python',
       'Programming Language_R', 'Programming Language_Rust',
       'Programming Language_SQL', 'Programming Language_TypeScript',
       'Technology_AI', 'Technology_Backend', 'Technology_Big Data',
       'Technology_Cloud Computing', 'Technology_Cybersecurity',
       'Technology_DBMS', 'Technology_Data Analytics', 'Technology_DevOps',
       'Technology_Front End', 'Technology_ML'],
      dtype='object')

In [120]:
from sklearn.model_selection import train_test_split

In [121]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [122]:
from sklearn.ensemble import RandomForestClassifier
Company_model= RandomForestClassifier(max_depth=9,n_estimators=100)
Company_model.fit(x_train, y_train)

print("Train Score:", Company_model.score(x_train, y_train))
print("Test Score:", Company_model.score(x_test, y_test))

Train Score: 0.6218804410911202
Test Score: 0.1357308584686775

In [123]:
# from sklearn.metrics import classification_report, accuracy_score

# y_pred_train = Company_model.predict(x_train)
# y_pred_test = Company_model.predict(x_test)

# print("Train Accuracy:", accuracy_score(y_train, y_pred_train))
# print("Test Accuracy:", accuracy_score(y_test, y_pred_test))
# print("\nClassification Report on Test Data:")
# print(classification_report(y_test, y_pred_test))

In [124]:
import numpy as np

def predict_top_companies(model, input_data, label_encoder, top_n=3):
    """
    Predicts the top N likely companies for the given input_data using the trained model.

    Parameters:
    - model: Trained classifier (e.g., RandomForestClassifier)
    - input_data: A single user input as a DataFrame with same feature format as training data
    - label_encoder: The LabelEncoder used to encode company labels
    - top_n: Number of top predictions to return (default = 3)

    Returns:
    - A list of top N predicted company names with their probabilities
    """

    # Get probability predictions for all companies
    probas = model.predict_proba(input_data)[0]

    # Get indices of top N probabilities
    top_indices = np.argsort(probas)[::-1][:top_n]

    # Decode company names using the label encoder
    top_companies = label_encoder.inverse_transform(top_indices)

    # Get top probabilities
    top_probs = probas[top_indices]

    # Combine results
    results = [(company, round(prob, 3)) for company, prob in zip(top_companies, top_probs)]

    return results

In [125]:
#x.columns

In [126]:

# Define feature columns
feature_columns = [
    'CGPA', 'Job Role', 'Internship Type_AIML', 'Internship Type_Cloud', 'Internship Type_Cybersecurity',
    'Internship Type_DevOps', 'Internship Type_Software Dev', 'Internship Type_Web Dev', 
    'Programming Language_C#', 'Programming Language_C++', 'Programming Language_Go', 'Programming Language_Java',
    'Programming Language_JavaScript', 'Programming Language_Python', 'Programming Language_R', 'Programming Language_Rust',
    'Programming Language_SQL', 'Programming Language_TypeScript', 'Technology_AI', 'Technology_Backend',
    'Technology_Big Data', 'Technology_Cloud Computing', 'Technology_Cybersecurity', 'Technology_DBMS',
    'Technology_Data Analytics', 'Technology_DevOps', 'Technology_Front End', 'Technology_ML'
]

# Prepare the input data
# Example row where the features are provided as 1s and 0s indicating presence of skills and internships
your_prepared_input_row = [
    9.4,  # CGPA
    5,  # Job Role (mapped numerically, assuming '5' corresponds to Devops Engineer)
    0,  # Internship Type_AIML
    0,  # Internship Type_Cloud
    0,  # Internship Type_Cybersecurity
    1,  # Internship Type_DevOps
    0,  # Internship Type_Software Dev
    0,  # Internship Type_Web Dev
    0,  # Programming Language_C#
    0,  # Programming Language_C++
    0,  # Programming Language_Go
    0,  # Programming Language_Java
    0,  # Programming Language_JavaScript
    1,  # Programming Language_Python
    0,  # Programming Language_R
    0,  # Programming Language_Rust
    0,  # Programming Language_SQL
    0,  # Programming Language_TypeScript
    0,  # Technology_AI
    0,  # Technology_Backend
    0,  # Technology_Big Data
    0,  # Technology_Cloud Computing
    0,  # Technology_Cybersecurity
    0,  # Technology_DBMS
    0,  # Technology_Data Analytics
    1,  # Technology_DevOps
    0,  # Technology_Front End
    0,   # Technology_ML
]

# Create the DataFrame for user input
user_input_df = pd.DataFrame([your_prepared_input_row], columns=feature_columns)

# Assuming you have a trained model `Company_model` and a label encoder `Company_label`
# Call the function to predict the top 3 companies
top_3_companies = predict_top_companies(Company_model, user_input_df, Company_label)#TopN Default=3

# Display the results
for i, (company, prob) in enumerate(top_3_companies, start=1):
    print(f"Top {i}: {company} (Probability: {prob})")

Top 1: NVIDIA (Probability: 0.165)
Top 2: IBM (Probability: 0.113)
Top 3: Apple (Probability: 0.105)

In [127]:
import joblib

joblib.dump(Company_model, 'COMPANY_model.joblib')

['COMPANY_model.joblib']

In [128]:
joblib.dump(Company_label, "COMPANY_label_encoder.joblib")

['COMPANY_label_encoder.joblib']